body { height: 100vh }

button { @apply focus:outline-none }


.floor-hover::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: .25rem;
  background-color: #FE7D1C;
  transform: scaleY(0);
  transition: transform .5s;
  border-radius: 1rem;
}

.floor-hover:hover::after {
  transform: scaleY(1);
}

.hover\:fill-black:hover path {
  fill: black;
}

.transition-fill path {
  transition: fill;
}

.whiter--init {
  position: relative;
}

.whiter--init::after {
  position: absolute;
  content: '';
  background-color: #fff;
  transition: opacity;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.whiter--init:hover::after {
  opacity: .7;
}

.whiter::after {
  opacity: .7;
}